%h1 Admin panel
%hr/

%ul
	%li
		=link_to "Edytuj statyczne treści", edit_page_path(1)
	%li
		=link_to "Zarządzaj portfoliami marek", portfolios_path
	%li
		=link_to "Zarządzaj showroomami", showrooms_path
	%li
		=link_to "Zarządzaj newsami", news_index_path
	%li
		=link_to "Zarządzaj salonami", salons_path
	%li
		=link_to "Zarządzaj galeriami", galleries_path
	%li
		=link_to "Zarządzaj tłumaczeniami", edit_translation_path(1)