.row
	.col.s12
		%ul.tabs
			%li.tab.col.s4
				%a.active{href: "#showroomPL"} PL
			%li.tab.col.s4
				%a{href: "#showroomEN"} EN
			%li.tab.col.s4
				%a{href: "#showroomIT"} IT

.row
	.col.s12
		.card
			.card-image
				= image_tag @showroom.img.url
			#showroomPL.card-content
				%p
					=raw @showroom.content_pl
			#showroomEN.card-content
				%p
					=raw @showroom.content_en
			#showroomIT.card-content
				%p
					=raw @showroom.content_it
			
.fixed-action-btn
	%a.btn-floating.btn-large{href: edit_showroom_path(@showroom)}
		%i.fa.fa-pencil