= form_for(@gallery_image) do |f|
  = f.hidden_field :gallery_id, value: @gallery_image.gallery_id

  .file-field.input-field
    .btn
      %span Dodaj obraz
      = f.file_field :img
    .file-path-wrapper
      %input.file-path.validate{type: "text"}

  .actions
    %button.btn.waves-effect.waves-light{type: "submit", name: "action"} Zapisz