%h1
	= (@gallery.rotator)? "Rotator": "Galeria"
	#{@gallery.name}

%h3 Zdjęcia
.row
	- @gallery.gallery_images.each do |img|
		.col.s4
			= image_tag img.img.url(:thumb), class: "materialboxed"
			= link_to 'Usuń', img, method: :delete, data: { confirm: 'Na pewno?' }

.fixed-action-btn
	%a.btn-floating.btn-large{href: new_gallery_image_path(g: @gallery.id)}
		%i.fa.fa-plus